html{
  padding-top: 0px;
}
body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  background-color: #6e6658
}
h1 {
  margin-top: 0;
  line-height: 2;
  text-align: center;
  font-size: 6.625rem;
  margin-bottom: 0;
  color: #112d32;
  font-family: 'Sansita Swashed', cursive;

}
h2 {
  color: #254e58;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h3{
  color: #112d32;
  font-family: 'Montserrat', sans-serif;
}


.header-text{
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-weight: normal;

}
.my-name-container{
  background-color: #88bdbc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  position: relative;
  padding-top: 100px;
}

.engineer{
  text-decoration: underline;
}

.cloud1{
  position: absolute;
   right:300px;
   top:50px;


}

.cloud2{
  position: absolute;
  left:300px;
  bottom: 300px;

}

.skill-row{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}


.skill-icon{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-icon-rect{
  width: 25%
  float: right;
  margin-right: 30px;
}

.footer-link{
  color: #11999E
}
